/* External style sheet for index.html */
body {
    background-color: lightgrey;
    margin-top: 189px;
}
h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 3.5rem;
    background-color: rgba(0, 179, 255, 1);
    text-shadow: 3.5px -3.5px 3px rgba(7, 7, 7, 0.356);
    position: fixed;
    width: 100%;
    left: 0;
    top: -41px;
}
div {
    border-style: none;
    border-radius: 15px;
}
dt {
    font-size: x-large;
    font-weight: bold;
    padding-left: 3.5rem;
}
a {
    text-decoration-line: none;
    line-height: 35px;
    font-size: x-large;
    font-weight: bolder;
}
a:hover {
    color: red;
}